:root {
    --black: rgb(29, 29, 29);
    --white: white;
    --white-transparent: rgba(245, 245, 245, 0.8);
    --white-transparent2: rgba(245, 245, 245, 0.9);
    --lightGrey: rgb(219, 219, 219);
    --lightGrey-transparent: rgba(219, 219, 219, 0.8);
}

@font-face {
    font-family: "Oswald";
    src: url(../fonts/Oswald/static/Oswald-Regular.ttf);
}

html {
    font-family: "Oswald", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--white);
}

::-webkit-scrollbar {
    display: none;
}

p{
    margin: 0;
}

body {
    margin: 0;
    background-color: var(--white);
}

.main-contacts{
    color: black;
    margin-top: 84px;
}

.contacts-box{
    margin: 10em 1em;
}

.contacts-title{
    font-size: 1.8rem;
}


.contacts-box{
    list-style-type: none;
}

.contacts-link{
    color: black;
    text-decoration: none;
}

.contacts-link:hover{
    opacity: 0.7;
}

.contacts-item{
    padding-top: 0.6em;
}

.contacts-item:first-of-type{
    padding-top: 0.4em;
}


.contacts-item:nth-of-type(2){
    padding-top: 1.5em;
}

.contacts-place-img{
    padding-top: 0.2em;
    max-width: 80%;
}


