:root {
    --black: rgb(29, 29, 29);
    --white: rgb(245, 245, 245);
    --white-transparent: rgba(245, 245, 245, 0.8);
    --white-transparent2: rgba(245, 245, 245, 0.9);
    --lightGrey: rgb(219, 219, 219);
    --lightGrey-transparent: rgba(219, 219, 219, 0.8);
}

@font-face {
    font-family: "Oswald";
    src: url(../fonts/Oswald/static/Oswald-Regular.ttf);
}

html {
    font-family: "Oswald", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    
}

::-webkit-scrollbar {
    display: none;
}

p, h1 {
    margin: 0;
}

body {
    margin: 0;
    background-color: var(--white);
}

.main-help {
    margin: 120px 0 60px 100px;
    display: flex;
    align-items: flex-start;
    gap: 8em;
}

.help-menu {
    list-style-type: none;
    padding: 0;
    margin: 1em 0 0 0;
    font-size: 1.2rem;
    font-weight: bold;
}

.menu-link {
    display: inline-block;
    padding: 0.2em 0;
    color: rgb(71, 71, 71);
    text-decoration: none;
}

.menu-link:hover {
    opacity: 0.8;
}

.section-header {
    margin-bottom: 1em;
}

.section-content {
    list-style-type: none;
    width: 40%;
    margin: 0;
    padding: 0;
}

.content-item {
    display: block;
    border-bottom: 1px solid var(--lightGrey);
    user-select: none;
    position: relative;
}

.content-link {
    display: block;
    font-weight: bold;
    color: rgb(71, 71, 71);
    padding: 2em 0 1em 0;
}

.content-title {
    display: inline-block;
}

.content-arrow {
    display: inline-block;
    position: absolute;
    right: 1em;
    transform: rotate(90deg);
    transition: 100ms ease;
}

.content-description {
    max-height: 0;
    opacity: 0;
    transition: max-height 300ms ease, opacity 200ms ease;
    transform-origin: top;
    padding-bottom: 1em;
}

.content-link.expanded + .content-description {
    max-height: 1000px;
    opacity: 1;
    transition: max-height 1s ease, opacity 200ms ease;
}

.content-link.expanded .content-arrow {
    transform: rotate(270deg);
}