:root {
    --black: rgb(29, 29, 29);
    --white: rgb(245, 245, 245);
    --white-transparent: rgba(245, 245, 245, 0.8);
    --white-transparent2: rgba(245, 245, 245, 0.9);
    --lightGrey: rgb(219, 219, 219);
    --lightGrey-transparent: rgba(219, 219, 219, 0.8);
}

.main-products {
    margin-top: 79px;
}

.products-filter {
    width: 90%;
    padding: 1em;
    margin: 0 auto;
    color: black;
}

.filterlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.filterlist-item {
    display: inline-block;
    margin-right: 1em;
}

.filter-options {
    transform: scaleY(0);
    transform-origin: top;
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.filter-link {
    border-bottom: 1px solid black;
    font-size: 1.1rem;
    user-select: none;
}

.option-link {
    user-select: none;
}

.filter-link.expanded + .filter-options {
    transform: scaleY(1);
}

.checked::before {
    content: "X";
    color: red;
    position: absolute;
}

.products:has(.filtered) .products-box-link:not(.filtered) {
    display: none;
}