:root {
    --black: rgb(29, 29, 29);
    --white: rgb(245, 245, 245);
    --white-transparent: rgba(245, 245, 245, 0.8);
    --white-transparent2: rgba(245, 245, 245, 0.9);
    --lightGrey: rgb(219, 219, 219);
    --lightGrey-transparent: rgba(219, 219, 219, 0.8);
}

.main-products {
    margin-top: 79px;
}

.products-filter {
    width: 90%;
    padding: 1em 0 2.5em 1.5%;
    color: black;
}

.filterlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.filterlist-item {
    display: inline-block;
    position: relative;
    margin-right: 1em;
}

.filter-options {
    width: calc(100% - 2px);
    position: absolute;
    transform: scaleY(0);
    transform-origin: top;
    list-style-type: none;
    margin: calc(0.5em + 2px) 0 0 0;
    padding: 0;
    background-color: var(--white);
    transition: 100ms ease;
    border: 1px solid var(--lightGrey);
    border-top: none;
}

.filter-option {
    border-bottom: 1px solid var(--lightGrey);
    cursor: pointer;
}

.filter-option:last-child {
    border-bottom: none;
}

.filter-link {
    border-bottom: 1px solid black;
    font-size: 1.1rem;
    user-select: none;
    padding: 0.5em 0;
}

.filter-link::after {
    margin-left: 20px;
    content: "\1F610";
}

.filter-link.expanded::after {
    content: "\1F62E";
}

.option-link {
    user-select: none;
}

.check-link {
    margin-left: 5px;
    border: 1px solid black;
    display: inline-block;
    width: 10px;
    height: 10px;
}

.filter-option.checked .check-link {
    background-color: black;
}

.filter-link.expanded + .filter-options {
    transform: scaleY(1);
}

.products:has(.filtered) .products-box-link:not(.filtered) {
    display: none;
}
