footer{
    font-family: monospace;
}

/*Subscribe------*/
.footer-subscribe{
    background-color: black;
    color: var(--white);
    text-align: center;
    padding: 1.5em 0em;
}

input[type=footer-text], select, textarea {
    width: 40%;
    padding: 0.5em;
    border: 1px solid red;
    box-sizing: border-box;
    margin-top: 0.5em;
    margin-bottom: 0.8em;
    text-align: left;
}

input[type=submit] {
    background-color: var(--white);
    color: red;
    padding: 0.5em 1.5em;
    border-radius: 0.3em;
    border: 1px solid red;
    cursor: pointer;
    font-size: 12px;
}



/*Dolní footer-------*/
.footer-end{
    color: var(--black);
    font-family: monospace;
    border-top: 1px solid var(--black);
    text-align: center;
}

.footer-item{
    font-size: 14px;
    padding: 0.2em 0em;
}

.footer-item:first-child{
    padding-top: 2.5em;
}

.footer-item:last-child{
    padding-bottom: 2.5em;
}


.footer-item-title{
    font-size: 16px;
}

.footer-item-title::after{
    position: relative;
    content: "";
    display: block;
    width: 140px;
    height: 1px;
    background-color: black;
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
}

.footer-sections{
    list-style-type: none;
    padding-left: 0;
}

.footer-collection{
    list-style-type: none;
    padding: 0 0 0 0;
}

.footer-collection-link{
    text-decoration: none;
    color: var(--black);
}

.footer-item-subscribe-title{
    font-size: 18px;
    color: red;
}


/*Změna velikostí - hlavně pro dolní footer*/

@media screen and (min-width: 960px) {
    .footer-sections {
    }
    
    .footer-sections-item{
        display:inline-block;
        vertical-align: top;
        width: 30%;
    }
}