:root {
    --black: rgb(29, 29, 29);
    --white: rgb(245, 245, 245);
    --white-transparent: rgba(245, 245, 245, 0.8);
    --lightGrey: rgb(219, 219, 219);
}

@font-face {
    font-family: "Roboto Mono";
    src: url(../fonts/RobotoMono/RobotoMono-Regular.ttf);
}

html {
    font-family: "Bebas Neue", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--white);
}

p, h1 {
    margin: 0;
}

body {
    margin: 0;
    background-color: var(--white);
}

.link {
    transition: 200ms ease-in-out;
}

.link:hover {
    cursor: pointer;
}

.link:not(.hamburger):not(.button-link):not(.logo-link):hover{
    scale: 1.03;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
}

.nav-icons {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    background-color: var(--white);
}

.logo {
    display: inline-block;
    position: fixed;
    top: 1em;
    left: 1em;
    height: 35px;
    transition: 200ms;
}

.logo:hover {
    rotate: 3deg;
}

.icon {
    height: 30px;
    margin-right: 1.5em;
}

.icon-link {
    position: relative;
}


.cart-indicator {
    position: absolute;
    color: var(--white);
    background-color: red;
    top: -0.5em;
    right: 1em;
    font-size: 0.8rem;
    padding: 0.1em 0.4em 0.1em 0.4em;
    border-radius: 0.5em;
    font-weight: bold;
}

.hamburger-nav {
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 0;
    text-align: center;
    background-color: var(--white-transparent);
}

.hamburger-item {
    font-size: 1.5rem;
    color: black;
    padding: .5em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.hamburger-item:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.hamburger-item .link {
    display: block;
    transition: 200ms;
    color: inherit;
    text-decoration: none;
}

@media screen and (min-width: 960px) {
    .hamburger-nav {
        display: flex;
        background-color: transparent;
    }
    .hamburger-item {
        border-bottom: none;
        padding: 1em;
    }
    .hamburger-item:first-child {
        border-top: none;
    }
    .nav-icons {
        max-width: 30%;
        background-color: transparent;
        align-items: center;
        order: 1;
    }
    nav {
        background-color: var(--white);
        display: flex;
        justify-content: flex-end;
    }
    .logo {
        height: 45px;
    }
}

main {
    height: 100vh;
    background-image: url(../media/skater-2560px.jpg);
    object-fit: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media screen and (max-width: 1245px) {
    main {
        background-image: url(../media/skater-1245px.jpg);
    }
}

@media screen and (max-width: 750px) {
    main {
        background-image: url(../media/skater-750px.jpg);
    }
}

.main-text {
    padding: 1em;
    max-width: 500px;
}

.main-title {
    font-size: 2.2rem;
    margin-bottom: 0.3em;
}

.main-description {
    font-size: 1.1rem;
    max-width: 85%;
    margin-bottom: 0.5em;
}

.button-link {
    font-size: 1.5rem;
    background-color: var(--white);
    color: var(--black);
    padding: 0.1em 0.6em 0.1em 0.6em;
    border-radius: 0.3em;
    display: inline-block;
}

.button-link:hover {
    transform: translateX(0.1em);
}

.products-box-link {
    color: black;
}

.products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: black;
}

.products-header {
    font-family: Roboto Mono, monospace;
    background-color: black;
    color: red;
    text-align: center;
    padding: 2em;
}

.products-title::after {
    position: relative;
    content: "";
    display: block;
    width: 140px;
    height: 1px;
    background-color: red;
    margin-top: 3px;
    margin-bottom: 4px;
    margin-left: auto;
    margin-right: auto;
}

.products-box {
    max-width: 450px;
    display: inline-block;
    margin: 2px;
    flex-grow: 1;
    flex-shrink: 0;
}

.products-price, .products-price-red {
    display: inline;
}

.products-price-red {
    color: red;
}

.sale .products-price {
    text-decoration: line-through;
}

.products-photo {
    max-width: 100%;
}

.products-text {
    padding: 1em 1em 0 1em;
}

.products-footer {
    padding: 0 1em 1em 1em;
}

.products-name {
    font-size: 1.5rem;
}