footer{
    font-family: monospace;
}
.footer-subscribe{
    background-color: black;
    color: var(--white);
    text-align: center;
    padding: 1.5em;
}
.footer-end{
    color: var(--black);
    font-family: monospace;
    border-top: 1px solid var(--black);
    text-align: center;
}

.footer-item{
    font-size: 14px;
    padding: 0.2em 0 0.2em 0.5em;
}

.footer-item:first-child{
    padding-top: 2em;
}


.footer-item-title{
    font-size: 16px;
}

.footer-item-title::after{
    position: relative;
    content: "";
    display: block;
    width: 140px;
    height: 1px;
    background-color: black;
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
}

.footer-collection{
    list-style-type: none;
    padding: 0 0 0 0.5em;
}

.footer-collection-link{
    text-decoration: none;
    color: var(--black);
}

.footer-item-subscribe-title{
    font-size: 18px;
}

input[type=text], select, textarea {
    width: 40%;
    padding: 0.5em;
    border: 1px solid #EB6C27;
    box-sizing: border-box;
    margin-top: 0.5em;
    margin-bottom: 0.8em;
    text-align: left;
}

input[type=submit] {
    background-color: var(--white);
    color: black;
    padding: 0.5em 1.5em;
    border: none;
    cursor: pointer;
    font-size: 12px;
}

