:root {
    --black: rgb(29, 29, 29);
    --white: white;
    --white-transparent: rgba(245, 245, 245, 0.8);
    --white-transparent2: rgba(245, 245, 245, 0.9);
    --lightGrey: rgb(219, 219, 219);
    --lightGrey-transparent: rgba(219, 219, 219, 0.8);
}

@font-face {
    font-family: "Oswald";
    src: url(../fonts/Oswald/static/Oswald-Regular.ttf);
}

html {
    font-family: "Oswald", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    
}

::-webkit-scrollbar {
    display: none;
}

p, h1 {
    margin: 0;
}

body {
    margin: 0;
    background-color: var(--white);
}

.main-help {
    margin: 120px 5% 60px 2.5%;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 4em;
}

.help-menu {
    list-style-type: none;
    padding: 0;
    margin: 1em 0 0 0;
    font-size: 1.2rem;
    font-weight: bold;
}

.menu-link {
    display: inline-block;
    padding: 0.2em 0;
    color: rgb(71, 71, 71);
    text-decoration: none;
}

.menu-link:hover {
    opacity: 0.8;
}

.section-header {
    margin-bottom: 2em;
}

.section-content {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.content-item {
    display: block;
    border-bottom: 1px solid var(--lightGrey);
}

.content-title {
    font-size: 1.1rem;
    color: rgb(39, 39, 39);
    margin-bottom: 1.2em;
}

.content-description {
    padding-bottom: 1em;
}

.current{
    color: black;
}

@media screen and (max-width: 960px) {
    .main-help {
        grid-template-columns: 1fr;
        gap: 2em;
        margin: 120px 5% 60px 5%;
    }
    .help-menu {
        margin: 0 auto;
        text-align: center;
    }
    .menu-item {
        display: inline-block;
        margin-right: 0.6em;
    }
    .menu-item:last-child {
        margin-right: 0;
    }
}